KAIGARA_APP_NAME=account
KAIGARA_SCOPES=private,secret

<%# VERIHUB_APP_ID=8832aaec-7a58-4ca2-a395-09d63d1bfbf5
VERIHUB_APP_KEY=tIkOsOU7dj6xmx7pX5lWT1wYSMgtvVTI %>

VERIHUB_APP_ID=6bf7868d-7794-483a-9a57-900dcef9c4e5
VERIHUB_APP_KEY=wtiN2lNHlnmPBml5fP3ReifE4cimyG2g

ACCESS_TOKEN=a5144000-3271-11ed-a261-0242ac120002
