RAILS_ENV=production
RAILS_ROOT=/home/app

ACCOUNT_URL=http://account:8001
EXCHANGE_URL=http://exchange:8000
REDIS_URL=redis://redis:6379

PORT=8081
DATABASE_HOST=db
DATABASE_USER=root
DATABASE_PASSWORD=ChangeYourPassword

EVENT_API_RABBITMQ_HOST=rabbitmq
EVENT_API_RABBITMQ_PORT=5672
EVENT_API_RABBITMQ_USERNAME=guest
EVENT_API_RABBITMQ_PASSWORD=guest

ACCOUNT_EVENT_API_JWT_PUBLIC_KEY=<%= @account_public_key %>
ACCOUNT_EVENT_API_JWT_ALGORITHM=RS256

EVENT_API_APPLICATION=account
EVENT_API_EVENT_CATEGORY=model
EVENT_API_EVENT_NAME=profile.created

JWT_PUBLIC_KEY=<%= @account_public_key %>
JWT_PRIVATE_KEY=<%= @applogic_private_key %>

RAILS_LOG_TO_STDOUT=true
SECRET_KEY_BASE=b609ebad4856c8f8a4f465fa785c74fb
