KAIGARA_DEPLOYMENT_ID=<%= @config['app']['name'].downcase %>
KAIGARA_APP_NAME=exchange
KAIGARA_SCOPES=private,secret
INFLUXDB_DATABASE_NAME=exchange_exchange_production

PG_URL=https://api.xendit.co
PG_BANK=PERMATA,MANDIRI,BRI,BNI
PG_KEY=xnd_production_bL246HFU2akwsIHNUIdZZECbV5RTDaeRuM2i7s6MFD0IhbHMQd4NNUaKQgjNa
ACCOUNT_URL=https://app.mydomain.com
ACCESS_TOKEN=a5144000-3271-11ed-a261-0242ac120002
CALLBACK_TOKEN=12e8255f6cdfda4d2e0b097235632d3d0b12406181a79475ceced1067964b8f9
IDR_DEPOSIT_AMOUNT=10000
RAILS_ROOT=/home/app
URL_HOST=app.mydomain.com
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=s.hohW6F7PI89S9qFCB2ITSWH2
VAULT_APP_NAME=exchange
RABBITMQ_HOST=rabbitmq

<%- if @config['database']['adapter'] == 'postgresql' %>
DATABASE_COLLATION=""
DATABASE_ADAPTER="postgresql"
<%- elsif @config['database']['adapter'] == 'mysql' %>
DATABASE_ADAPTER="mysql2"
<%- end %>
DATABASE_HOST=<%= @config['database']['host'] %>
DATABASE_PORT=<%= @config['database']['port'] %>
DATABASE_USER=<%= @config['database']['user'] %>
DATABASE_PASS=<%= @config['database']['password'] %>
DATABASE_NAME=exchange_exchange_production

JWT_AUDIENCE=exchange,account
JWT_PUBLIC_KEY=<%= @account_public_key %>

EVENT_API_JWT_PRIVATE_KEY=<%= @account_private_key  %>
EVENT_API_JWT_ALGORITHM=RS256
EVENT_API_RABBITMQ_HOST=rabbitmq
EVENT_API_RABBITMQ_PORT=5672
EVENT_API_RABBITMQ_USERNAME=guest
EVENT_API_RABBITMQ_PASSWORD=guest
