KAIGARA_DEPLOYMENT_ID=<%= @config['app']['name'].downcase %>
KAIGARA_APP_NAME=rango
KAIGARA_SCOPES=private
API_CORS_ORIGINS=mobile.mydomain.com,app.mydomain.com,dev.mydomain.com,mobile.koinku.co
KAIGARA_REDIS_URL: redis://redis:6379
