secrets:
  global:
    scopes:
      public:
      <%- unless @config['app']['wizard_enabled'] %>
        wizard_step: 'false'
      <%- end %>
        minutesUntilAutoLogout: '35'
        withCredentials: 'true'
        finex: 'false'
        gaTrackerKey: ''
        rangerReconnectPeriod: '1'
        msAlertDisplayTime: '5000'
        incrementalOrderBook: 'true'
        isResizable: 'false'
        isDraggable: 'false'
        languages: ['en']
        sessionCheckInterval: '15000'
        balancesFetchInterval: '5000'
        captcha_type: <%= @config['captcha']['type'] %>
        captcha_id: ''
        captchaLogin: 'true'
        usernameEnabled: 'true'
        password_min_entropy: '14'
        passwordEntropyStep: '14'
        showLanding: 'true'
        sentryEnabled: 'false'
        uploadMaxSize: <%= @config['storage']['uploadMaxSize'] %>
        uploadMinSize: <%= @config['storage']['uploadMinSize'] %>
        kycSteps: [
          'email',
          'phone',
          'document'
        ]
        tablePageLimit: '50'
        aml: 'false'
        labelSwitcher: [
            { name: 'email', label: [{ email: 'verified' }] },
            { name: 'phone', label: [{ phone: 'verified' }] },
            { name: 'document', label: [{ document: 'verified' }], require_doc: 'true' }
        ]
        plugins: []
        roleTypes: [
            {
                value: 'Admin',
                key: 'admin',
            },
            {
                value: 'Member',
                key: 'member',
            },
            {
                value: 'Super Admin',
                key: 'superadmin',
            },
            {
                value: 'Accountant',
                key: 'accountant',
            },
            {
                value: 'Compliance',
                key: 'compliance',
            },
            {
                value: 'Technical',
                key: 'technical',
            },
            {
                value: 'Support',
                key: 'support',
            },
            {
                value: 'Trader',
                key: 'trader',
            },
            {
                value: 'Broker',
                key: 'broker',
            },
        ]
        allowedRoles: [
          'admin',
          'superadmin',
          'accountant',
          'compliance',
          'support',
          'technical',
          'manager',
        ]
        devMode: 'true'
        minutesBeforeWarningMessage: '1'
      private:
        database_host: <%=  @config['database']['host'] %>
        database_port: "<%=  @config['database']['port'] %>"
        database_user: <%=  @config['database']['user'] %>
        vault_app_name: exchange
        vault_address: http://vault:8200
        vault_addr: http://vault:8200
      secret:
        database_pass: <%= @config['database']['password'] %>

  account:
    scopes:
      public: {}
      private:
        <%- if @config['database']['adapter'] == 'postgresql' -%>
        database_collation: ""
        database_adapter: postgresql
        <%- elsif @config['database']['adapter'] == 'mysql' -%>
        database_adapter: mysql2
        <%- end -%>
        log_level: debug
        disable_spring: 'true'
        account_session_expire_time: '7200'
        port: '8080'
        rails_env: production
        account_sender_email: <%= @config['smtp']['sender_email'] %>
        account_smtp_user: <%= @config['smtp']['user'] %>
        account_smtp_logo_link: <%= @config['smtp']['sender_logo'] %>
        account_sender_name: <%= @config['smtp']['sender_name'] %>
        account_default_language: en
        account_kyc_provider: <%= @config['kyc']['provider'] %>
        account_app_name: <%= @config['app']['name'] %>
        account_upload_size_min_range: <%= @config['storage']['uploadMinSize'] %>
        account_upload_size_max_range: <%= @config['storage']['uploadMaxSize'] %>
        account_uid_prefix: ID
        account_sms_content_template: "Your verification code for Exchange Exchange: {{code}}"
        account_required_docs_expire: 'false'
        account_domain: <%= ssl_helper('http') %>://<%= @config['app']['subdomain'] %>.<%= @config['app']['domain'] %>
        <%- if @config['kyc']['provider'] == 'kycaid' -%>
        account_kycaid_sandbox_mode: 'false'
        account_kycaid_api_endpoint: <%= @config['kyc']['api_endpoint'] %>
        <%- end -%>
        account_api_cors_origins: https://2-6-stable.openfinex.io
        account_api_cors_max_age: '3600'
        account_api_cors_allow_credentials: 'false'
        rails_max_threads: '20'
        account_storage_provider: <%= @config['storage']['provider'] %>
        account_storage_bucket_name: <%= @config['storage']['bucketName'] %>
        account_storage_endpoint: <%= @config['storage']['endpoint'] %>
        account_storage_signature_version: "<%= @config['storage']['signatureVersion'] %>"
        account_storage_region: <%= @config['storage']['region'] %>
        account_event_api_rabbitmq_host: rabbitmq
        account_event_api_jwt_algorithm: RS256
        account_event_api_rabbitmq_port: '5672'
        account_smtp_host: <%= @config['smtp']['host'] %>
        account_smtp_port: "<%= @config['smtp']['port'] %>"
        account_captcha: <%= @config['captcha']['type'] %>
        account_password_min_entropy: '14'
        account_password_use_dictionary: 'false'
        account_csrf_protection: '<%= @config['csrfEnabled'] %>'
        jwt_public_key: <%= @account_public_key %>
      secret:
        jwt_private_key_path: /secrets/account.key
        account_vault_app_name: <%= @config['app']['name'].downcase %>
        account_vault_address: http://vault:8200
        database_name: exchange_account_production
        account_redis_url: redis://redis:6379
        redis_url: redis://redis:6379
        <%- if @config['kyc']['provider'] == 'kycaid' -%>
        account_kycaid_authorization_token: <%= @config['kyc']['authorization_token'] %>
        <%- end -%>
        account_event_api_rabbitmq_username: guest
        account_smtp_password: <%= @config['smtp']['password'] %>
        <%- if @config['twilio']['enabled'] -%>
        account_twilio_account_sid: <%= @config['twilio']['account_sid'] %>
        account_twilio_auth_token: <%= @config['twilio']['auth_token'] %>
        account_twilio_phone_number: "<%= @config['twilio']['phone_number'] %>"
        account_phone_verification: twilio_sms
        <%- end -%>
        <%- if @config['captcha']['type'] == 'recaptcha' -%>
        account_recaptcha_site_key: <%= @config['captcha']['siteKey'] %>
        account_recaptcha_secret_key: <%= @config['captcha']['secretKey'] %>
        <%- elsif @config['captcha']['type'] == 'geetest' -%>
        account_geetest_id: <%= @config['captcha']['siteKey'] %>
        account_geetest_key: <%= @config['captcha']['secretKey'] %>
        <%- end -%>
        account_storage_access_key: <%= @config['storage']['accessKey'] %>
        account_storage_secret_key: <%= @config['storage']['secretKey'] %>
        account_event_api_jwt_private_key: <%= @account_private_key %>
        account_event_api_rabbitmq_password: guest
        secret_key_base: faiba2shei0Ae5gahCh4aipoh3meyaFi

  sonic:
    scopes:
      public: {}
      private:
        exchange_url: http://exchange:8080/api/v2/management
        account_url: http://account:8080/api/v2/management
        database_name: sonic
        jwt_issuer: sonic
        jwt_algo: RS256
        vault_addr: http://vault:8200
        deployment_id: <%= @config['app']['name'].downcase %>
        exchange_addr: <%= @config['app']['exchange_addr'] %>
        xln_enabled: false
      secret:
        jwt_private_key: <%= @sonic_private_key %>
        sonic_public_key: <%= @sonic_public_key %>
        exchange_public_key: <%= @exchange_public_key %>
        account_public_key: <%= @account_public_key %>

  exchange:
    scopes:
      public: {}
      private:
        log_level: debug
        port: '8080'
        <%- if @config['database']['adapter'] == 'postgresql' -%>
        database_collation: ""
        database_adapter: postgresql
        <%- elsif @config['database']['adapter'] == 'mysql' -%>
        database_adapter: mysql2
        <%- end -%>
        rails_root: /home/app
        url_host: <%= @config['app']['subdomain'] %>.<%= @config['app']['domain'] %>
        admin: admin@mydomain.com
        database_name: exchange_exchange_production
        redis_url: redis://redis:6379
        rabbitmq_host: rabbitmq
        event_api_rabbitmq_host: rabbitmq
        markets_config: /opt/exchange/config/seed/markets.yml
        currencies_config: /opt/exchange/config/seed/currencies.yml
        management_api_v1_config: /opt/exchange/config/management_api_v1.yml
        jwt_audience: exchange,account
        jwt_public_key: <%= @account_public_key %>
        # Use the following value to connect to XLN testnet:
        # "LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFZjVFS2lNRll4aXhWTHRMUTVkSzJIdnlzRmhRWQorWitHSU9LN0JVQUtjcHdadWhFbjhpWW4rdWtuL1lKYXBVVVZ2OUl2SVJ0OFhqVnFocmN5RUFwb0dnPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t"
        openfinex_cloud_public_key: "LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFQUpCZXhhWlFwd2o0bXJRRDQyZG9laWtSNUwyVgo3dmRYNUdPY1p0Y1o5OWo1bktOa3EydXJXZTNPVm1hWndEQ3FYcmxoZ0YwY3hHU0lKbUhuUHg4SGlnPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg=="
        influxdb_host: influxdb
        event_api_jwt_algorithm: RS256
        event_api_rabbitmq_port: '5672'
        minimum_member_level_for_deposit: '1'
        minimum_member_level_for_withdraw: '3'
        minimum_member_level_for_trading: '2'
        force_secure_connection: 'false'
      secret:
        exchange_jwt_private_key: <%= @exchange_private_key %>
        event_api_jwt_private_key: <%= @exchange_private_key %>
        event_api_rabbitmq_username: guest
        event_api_rabbitmq_password: guest
        secret_key_base: faiba2shei0Ae5gahCh4aipoh3meyaFi

  rango:
    scopes:
      private:
        ranger_host: 0.0.0.0
        ranger_port: '8080'
        ranger_connect_secure: "false"
        log_level: info
        rabbitmq_host: rabbitmq
        jwt_public_key: <%= @account_public_key %>