COMPOSE_PROJECT_NAME=<%= @config['app']['name'].downcase %>
COMPOSE_FILE=compose/app.yaml:compose/backend.yaml:compose/gateway.yaml:compose/proxy.yaml:compose/daemons.yaml:compose/arke.yaml:compose/superset.yaml:compose/monitoring.yaml
EXCHANGE_RAILS_VAULT_TOKEN=<%= @config['vault']['exchange_rails_token'] %>
EXCHANGE_CRYPTO_VAULT_TOKEN=<%= @config['vault']['exchange_crypto_token'] %>
EXCHANGE_UPSTREAM_VAULT_TOKEN=<%= @config['vault']['exchange_upstream_token'] %>
EXCHANGE_MATCHING_VAULT_TOKEN=<%= @config['vault']['exchange_matching_token'] %>
