# List of Account administrators.
#
# Other parameters that you can set here can be found in Account,
# Profile and Phone models (e.g. app/models/account.rb...); all the
# model properties are listed at the very bottom of this models files.
#
# Note: email is the only required field here.

<%- unless @config['app']['wizard_enabled'] %>
users:
- email: admin@mydomain.com
  password: 7Dragon7
  role: superadmin
  state: active
  level: 3
- email: john@mydomain.com
  password: 7Dragon7
  role: member
  state: active
  level: 3
<%- else %>
users: []
<%- end %>

levels:
  - key: email
    value: verified
    description: "User clicked on the confirmation link"
  - key: phone
    value: verified
    description: "User entered a valid code from sms"
  - key: document
    value: verified
    description: "User personal documents have been verified"

restrictions: {}
# - { category: whitelist, scope: country, value: UA, state: disabled }
# - { category: maintenance, scope: all, value: all, state: disabled }
# - { category: blacklist, scope: ip, value: 164.116.47.255, state: disabled, code: 433 }
# - { category: blacklist, scope: ip_subnet, value: 164.116.47.0/24, state: disabled, code: 434 }
# - { category: blacklist, scope: country, value: USA, state: disabled, code: 435 }
# - { category: blacklist, scope: continent, value: SA, state: disabled, code: 436 }

permissions:
# SUPER ADMIN has an access to the whole system without any limits
# so we can just grant him access to /api/v2/*
- { role: superadmin, verb: all, path: api/v2, action: accept }
# Drop Exchange order endpoint requests
# - { role: superadmin, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: superadmin, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# Rango(ranger) access
- { role: superadmin, verb: get, path: api/v2/ranger, action: accept }
# we are watching after you 0_0
- { role: superadmin, verb: post, path: api/v2/, action: audit }
- { role: superadmin, verb: put, path: api/v2/, action: audit }
- { role: superadmin, verb: delete, path: api/v2/, action: audit }

# ADMIN
# admin has nearly full access to account and exchange api, except managing permissions
- { role: admin, verb: all, path: api/v2, action: accept }
# Drop Exchange order endpoint requests
# - { role: admin, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: admin, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: admin, verb: get, path: api/v2/ranger, action: accept }
# Finex upstream access
- { role: admin, verb: get, path: api/v2/open_finance, action: accept }
# admin doesnt have access to manage platform roles and permissions
- { role: admin, verb: all, path: api/v2/account/admin/permissions, action: drop }
# admin doesnt have access to manage roles
- { role: admin, verb: all, path: api/v2/account/admin/users/role, action: drop }
# admin doesnt have access to admin activities
- { role: admin, verb: all, path: api/v2/account/admin/activities/admin, action: drop }
# admin doesnt have access to sonic configurations with exceptions of forex and finex
- { role: admin, verb: all, path: api/v2/sonic/admin/applogic/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/account/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/global/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/hdwallet/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/infra/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/opnefinex_cloud/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/exchange/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/rabbitmq/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/rango/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/sonic/secret, action: drop }
- { role: admin, verb: all, path: api/v2/sonic/admin/tokens/secret, action: drop }
# we are watching after you 0_0
- { role: admin, verb: post, path: api/v2/, action: audit }
- { role: admin, verb: put, path: api/v2/, action: audit }
- { role: admin, verb: delete, path: api/v2/, action: audit }

# ACCOUNTANT
# accountant has a read access to Account admin
- { role: accountant, verb: get, path: api/v2/account/admin, action: accept }
# accountant has a read access to Exchange financial information and creating of adjustments
- { role: accountant, verb: get, path: api/v2/exchange/admin/members, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/beneficiaries, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/currencies, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/blockchains, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/wallets, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/trading_fees, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/withdraw_limits, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/orders, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/markets, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/engine, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/trades, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/deposits, action: accept }
- { role: accountant, verb: post, path: api/v2/exchange/admin/deposits/new, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/withdraws, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/adjustments, action: accept }
- { role: accountant, verb: post, path: api/v2/exchange/admin/adjustments/new, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/assets, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/liabilities, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/revenues, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/expenses, action: accept }
- { role: accountant, verb: get, path: api/v2/exchange/admin/internal_transfers, action: accept }
# accountant doesnt have access to see pending documents
- { role: accountant, verb: get, path: api/v2/account/admin/users/documents/pending, action: drop }
# accountant doesnt have access to manage platform roles and permissions
- { role: accountant, verb: all, path: api/v2/account/admin/users/role, action: drop }
- { role: accountant, verb: all, path: api/v2/account/admin/permissions, action: drop }
# accountant doesnt have access to admin activities
- { role: accountant, verb: all, path: api/v2/account/admin/activities/admin, action: drop }
# we are watching after you 0_0
- { role: accountant, verb: post, path: api/v2/, action: audit }
- { role: accountant, verb: put, path: api/v2/, action: audit }
- { role: accountant, verb: delete, path: api/v2/, action: audit }
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: accountant, verb: all, path: api/v2/exchange/account, action: accept }
- { role: accountant, verb: all, path: api/v2/exchange/market, action: accept }
- { role: accountant, verb: all, path: api/v2/finex/market, action: accept }
- { role: accountant, verb: all, path: api/v2/account/resource, action: accept }
- { role: accountant, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: accountant, verb: all, path: api/v2/finex/qe, action: accept }
- { role: accountant, verb: all, path: api/v2/exchange/swagger, action: accept }
# Drop Exchange order endpoint requests
# - { role: accountant, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: accountant, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: accountant, verb: get, path: api/v2/ranger, action: accept }
# applogic access
- { role: accountant, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: accountant, verb: all, path: api/v2/exchange/admin/abilities, action: accept }
- { role: accountant, verb: all, path: api/v2/account/admin/abilities, action: accept }
- { role: accountant, verb: get, path: api/v2/finex/admin/abilities, action: accept }
- { role: accountant, verb: get, path: api/v2/finex/abilities, action: accept }

# COMPLIANCE
# has read access to Account
- { role: compliance, verb: get, path: api/v2/account/admin, action: accept }
# has an access to CRUD of user-related resources
- { role: compliance, verb: get, path: api/v2/exchange/admin/members, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/beneficiaries, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/currencies, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/trades, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/orders, action: accept }
- { role: compliance, verb: all, path: api/v2/account/admin/users, action: accept }
# has ability to see deposit, withdraw, operations (partial)
- { role: compliance, verb: get, path: api/v2/exchange/admin/deposits, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/withdraws, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/assets, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/liabilities, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/expenses, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/markets, action: accept }
- { role: compliance, verb: get, path: api/v2/exchange/admin/engine, action: accept }
# has no ability to see the configurations
- { role: compliance, verb: all, path: api/v2/exchange/admin/adjustments, action: drop }
- { role: compliance, verb: all, path: api/v2/exchange/admin/revenues, action: drop }
- { role: compliance, verb: all, path: api/v2/exchange/admin/blockchains, action: drop }
- { role: compliance, verb: all, path: api/v2/exchange/admin/wallets, action: drop }
- { role: compliance, verb: all, path: api/v2/exchange/admin/trading_fees, action: drop }
- { role: compliance, verb: all, path: api/v2/exchange/admin/withdraw_limits, action: drop }
- { role: compliance, verb: all, path: api/v2/account/admin/restrictions, action: drop }
# compliance doesnt have access to change users roles
- { role: compliance, verb: all, path: api/v2/account/admin/users/role, action: drop }
# compliance doesnt have access to admin activities
- { role: compliance, verb: all, path: api/v2/account/admin/activities/admin, action: drop }
# compliance doesnt have access to manage platform roles and permissions
- { role: compliance, verb: all, path: api/v2/account/admin/permissions, action: drop }
# we are watching after you 0_0
- { role: compliance, verb: post, path: api/v2/, action: audit }
- { role: compliance, verb: put, path: api/v2/, action: audit }
- { role: compliance, verb: delete, path: api/v2/, action: audit }
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: compliance, verb: all, path: api/v2/exchange/account, action: accept }
- { role: compliance, verb: all, path: api/v2/exchange/market, action: accept }
- { role: compliance, verb: all, path: api/v2/finex/market, action: accept }
- { role: compliance, verb: all, path: api/v2/account/resource, action: accept }
- { role: compliance, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: compliance, verb: all, path: api/v2/finex/qe, action: accept }
- { role: compliance, verb: all, path: api/v2/exchange/swagger, action: accept }
# Drop Exchange order endpoint requests
# - { role: compliance, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: compliance, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: compliance, verb: get, path: api/v2/ranger, action: accept }
# applogic access
- { role: compliance, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: compliance, verb: all, path: api/v2/exchange/admin/abilities, action: accept }
- { role: compliance, verb: all, path: api/v2/account/admin/abilities, action: accept }
- { role: compliance, verb: get, path: api/v2/finex/admin/abilities, action: accept }
- { role: compliance, verb: get, path: api/v2/finex/abilities, action: accept }

# TECHNICAL
# technical has a read access to Account and Exchange admin
- { role: technical, verb: get, path: api/v2/account/admin, action: accept }
- { role: technical, verb: get, path: api/v2/exchange/admin, action: accept }
# technical has a configuration access to Exchange admin
- { role: technical, verb: all, path: api/v2/exchange/admin/blockchains, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/admin/currencies, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/admin/markets, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/admin/wallets, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/admin/trading_fees, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/admin/withdraw_limits, action: accept }
- { role: technical, verb: get, path: api/v2/exchange/admin/internal_transfers, action: accept }
- { role: technical, verb: all, path: api/v2/sonic/admin/secrets, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/admin/engine, action: accept }
- { role: technical, verb: all, path: api/v2/sonic/admin/forex/secret, action: accept }
- { role: technical, verb: all, path: api/v2/sonic/admin/finex/secret, action: accept }
# technical has access to delete orders
- { role: technical, verb: delete, path: api/v2/finex/admin/bulk/orders_by_id, action: accept }
- { role: technical, verb: post, path: api/v2/finex/admin/orders/cancel, action: accept }
# technical has an ability to create and update restrictions
- { role: technical, verb: all, path: api/v2/account/admin/restrictions, action: accept }
# has no ability to see and update Deposit, Withdraw, Adjustments
- { role: technical, verb: all, path: api/v2/exchange/admin/deposits, action: drop }
- { role: technical, verb: all, path: api/v2/exchange/admin/withdraws, action: drop }
- { role: technical, verb: all, path: api/v2/exchange/admin/adjustments, action: drop }
# Finex upstream access
- { role: technical, verb: get, path: api/v2/open_finance, action: accept }
# technical doesnt have access to see pending documents
- { role: technical, verb: get, path: api/v2/account/admin/users/documents/pending, action: drop }
# technical doesnt have access to admin activities
- { role: technical, verb: all, path: api/v2/account/admin/activities/admin, action: drop }
# technical doesnt have access to manage platform roles and permissions
- { role: technical, verb: all, path: api/v2/account/admin/permissions, action: drop }
# we are watching after you 0_0
- { role: technical, verb: post, path: api/v2/, action: audit }
- { role: technical, verb: put, path: api/v2/, action: audit }
- { role: technical, verb: delete, path: api/v2/, action: audit }
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: technical, verb: all, path: api/v2/exchange/account, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/market, action: accept }
- { role: technical, verb: all, path: api/v2/finex/market, action: accept }
- { role: technical, verb: all, path: api/v2/account/resource, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: technical, verb: all, path: api/v2/exchange/swagger, action: accept }
- { role: technical, verb: all, path: api/v2/finex/qe, action: accept }
# Drop Exchange order endpoint requests
# - { role: technical, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: technical, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: technical, verb: get, path: api/v2/ranger, action: accept }
# applogic access
- { role: technical, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: technical, verb: all, path: api/v2/exchange/admin/abilities, action: accept }
- { role: technical, verb: all, path: api/v2/account/admin/abilities, action: accept }
- { role: technical, verb: get, path: api/v2/finex/admin/abilities, action: accept }
- { role: technical, verb: get, path: api/v2/finex/abilities, action: accept }

# SUPPORT
# has read only access to several statistic and user-related endpoints
- { role: support, verb: get, path: api/v2/account/admin, action: accept }
- { role: support, verb: get, path: api/v2/exchange/admin, action: accept }
# has no ability to see the configurations
- { role: support, verb: all, path: api/v2/exchange/admin/adjustments, action: drop }
- { role: support, verb: all, path: api/v2/exchange/admin/revenues, action: drop }
- { role: support, verb: all, path: api/v2/exchange/admin/blockchains, action: drop }
- { role: support, verb: all, path: api/v2/exchange/admin/wallets, action: drop }
- { role: support, verb: all, path: api/v2/exchange/admin/trading_fees, action: drop }
- { role: support, verb: all, path: api/v2/exchange/admin/withdraw_limits, action: drop }
- { role: support, verb: all, path: api/v2/account/admin/restrictions, action: drop }
- { role: support, verb: get, path: api/v2/exchange/admin/internal_transfers, action: accept }
- { role: support, verb: get, path: api/v2/sonic/admin/secrets, action: accept }
- { role: support, verb: get, path: api/v2/exchange/admin/engine, action: accept }
# has ability to disable 2FA
- { role: support, verb: post, path: api/v2/account/admin/users/update, action: accept }
# support doesnt have access to admin activities
- { role: support, verb: all, path: api/v2/account/admin/activities/admin, action: drop }
# support doesnt have access to manage platform roles and permissions
- { role: support, verb: all, path: api/v2/account/admin/permissions, action: drop }
- { role: support, verb: all, path: api/v2/account/admin/permissions, action: drop }
# we are watching after you 0_0
- { role: support, verb: post, path: api/v2/, action: audit }
- { role: support, verb: put, path: api/v2/, action: audit }
- { role: support, verb: delete, path: api/v2/, action: audit }
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: support, verb: all, path: api/v2/exchange/account, action: accept }
- { role: support, verb: all, path: api/v2/exchange/market, action: accept }
- { role: support, verb: all, path: api/v2/finex/market, action: accept }
- { role: support, verb: all, path: api/v2/account/resource, action: accept }
- { role: support, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: support, verb: all, path: api/v2/exchange/swagger, action: accept }
- { role: support, verb: all, path: api/v2/finex/qe, action: accept }
# Drop Exchange order endpoint requests
# - { role: support, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: support, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: support, verb: get, path: api/v2/ranger, action: accept }
# applogic access
- { role: support, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: support, verb: all, path: api/v2/exchange/admin/abilities, action: accept }
- { role: support, verb: all, path: api/v2/account/admin/abilities, action: accept }
- { role: support, verb: get, path: api/v2/finex/admin/abilities, action: accept }
- { role: support, verb: get, path: api/v2/finex/abilities, action: accept }

# TRADER
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: trader, verb: all, path: api/v2/exchange/account, action: accept }
- { role: trader, verb: all, path: api/v2/exchange/market, action: accept }
- { role: trader, verb: all, path: api/v2/finex/market, action: accept }
- { role: trader, verb: all, path: api/v2/account/resource, action: accept }
- { role: trader, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: trader, verb: all, path: api/v2/finex/qe, action: accept }
- { role: trader, verb: all, path: api/v2/exchange/swagger, action: accept }
# Drop Exchange order endpoint requests
# - { role: trader, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: trader, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: trader, verb: get, path: api/v2/ranger, action: accept }
# Finex upstream access
- { role: trader, verb: get, path: api/v2/open_finance, action: accept }
# applogic access
- { role: trader, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: trader, verb: get, path: api/v2/finex/abilities, action: accept }

# BROKER
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: broker, verb: all, path: api/v2/exchange/account, action: accept }
- { role: broker, verb: all, path: api/v2/exchange/market, action: accept }
- { role: broker, verb: all, path: api/v2/finex/market, action: accept }
- { role: broker, verb: all, path: api/v2/account/resource, action: accept }
- { role: broker, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: broker, verb: all, path: api/v2/finex/qe, action: accept }
- { role: broker, verb: all, path: api/v2/exchange/swagger, action: accept }
# Drop Exchange order endpoint requests
# - { role: broker, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: broker, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: broker, verb: get, path: api/v2/ranger, action: accept }
# Finex upstream access
- { role: broker, verb: get, path: api/v2/open_finance, action: accept }
# applogic access
- { role: broker, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: broker, verb: get, path: api/v2/finex/abilities, action: accept }

# MEMBER
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: member, verb: all, path: api/v2/exchange/account, action: accept }
- { role: member, verb: all, path: api/v2/exchange/market, action: accept }
- { role: member, verb: all, path: api/v2/finex/market, action: accept }
- { role: member, verb: all, path: api/v2/account/resource, action: accept }
- { role: member, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: member, verb: all, path: api/v2/finex/qe, action: accept }
- { role: member, verb: all, path: api/v2/exchange/swagger, action: accept }
# Drop Exchange order endpoint requests
# - { role: member, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: member, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: member, verb: get, path: api/v2/ranger, action: accept }
# Finex upstream access
- { role: member, verb: get, path: api/v2/open_finance, action: accept }
# applogic access
- { role: member, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: member, verb: get, path: api/v2/finex/abilities, action: accept }

# MAKER
- { role: maker, verb: all, path: api/v2/exchange/account, action: accept }
- { role: maker, verb: all, path: api/v2/exchange/market, action: accept }
- { role: maker, verb: all, path: api/v2/finex/market, action: accept }
- { role: maker, verb: all, path: api/v2/account/resource, action: accept }
- { role: maker, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: maker, verb: all, path: api/v2/finex/qe, action: accept }
- { role: maker, verb: all, path: api/v2/exchange/swagger, action: accept }
# Drop Exchange order endpoint requests
# - { role: maker, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: maker, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: maker, verb: get, path: api/v2/ranger, action: accept }
# Finex upstream access
- { role: maker, verb: get, path: api/v2/open_finance, action: accept }
# applogic access
- { role: maker, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: maker, verb: get, path: api/v2/finex/abilities, action: accept }

# Service Account  Maker
# has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
- { role: sa_maker, verb: all, path: api/v2/exchange/account, action: accept }
- { role: sa_maker, verb: all, path: api/v2/exchange/market, action: accept }
- { role: sa_maker, verb: all, path: api/v2/finex/market, action: accept }
- { role: sa_maker, verb: all, path: api/v2/account/resource, action: accept }
- { role: sa_maker, verb: all, path: api/v2/exchange/account/internal_transfers, action: accept }
- { role: sa_maker, verb: all, path: api/v2/finex/qe, action: accept }
- { role: sa_maker, verb: all, path: api/v2/exchange/swagger, action: accept }
# Service Account can not interact with Password, 2FA, KYC, API keys, Beneficiary, Deposit and Withdraw
- { role: sa_maker, verb: all, path: api/v2/account/resource/otp, action: drop }
- { role: sa_maker, verb: all, path: api/v2/account/resource/phones, action: drop }
- { role: sa_maker, verb: all, path: api/v2/account/resource/profiles, action: drop }
- { role: sa_maker, verb: all, path: api/v2/account/resource/documents, action: drop }
- { role: sa_maker, verb: all, path: api/v2/account/resource/addresses, action: drop }
- { role: sa_maker, verb: all, path: api/v2/applogic/private/tenants, action: drop }
- { role: sa_maker, verb: all, path: api/v2/account/resource/api_keys, action: drop }
- { role: sa_maker, verb: all, path: api/v2/account/resource/users/password, action: drop }
- { role: sa_maker, verb: all, path: api/v2/exchange/account/deposit_address, action: drop }
- { role: sa_maker, verb: all, path: api/v2/exchange/account/withdraws, action: drop }
- { role: sa_maker, verb: all, path: api/v2/exchange/account/beneficiaries, action: drop }
# Finex upstream access
- { role: sa_maker, verb: get, path: api/v2/open_finance, action: accept }
# Drop Exchange order endpoint requests
# - { role: sa_maker, verb: post, path: api/v2/exchange/market/orders, action: drop }
- { role: sa_maker, verb: post, path: api/v2/exchange/admin/orders, action: drop }
# ranger access
- { role: sa_maker, verb: get, path: api/v2/ranger, action: accept }
# applogic access
- { role: sa_maker, verb: all, path: api/v2/applogic, action: accept }
# get abilities
- { role: maker, verb: get, path: api/v2/finex/abilities, action: accept }
