<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <%= image_tag @logo, alt: 'Company Logo', class: 'logo-img' %>
          </td>
        </tr>
      </table>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <table role="presentation" class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <br />
                    <p>Hello!</p>
                    <p>
                      We detected a login to your account.
                    </p>
                    <p>IP Address: <%= @record.user_ip %></p>
                    <p>User-agent: <%= @record.user_agent %></p>

                    <p>If this was you, please disregard this email.</p>

                    <p>If this wasn't you, please change your passwords immediately, as someone else may be accessing your account.</p>
                    <br /><br /><br />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <!-- END MAIN CONTENT AREA -->
        </table>
      </div>
      <!-- START FOOTER -->
      <div class="footer">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-block">
              <span>PT Cipta Koin Digital, Jakarta Indonesia</span>
              <br><a href="http://www.mydomain.com">mydomain.com</a>
            </td>
          </tr>
        </table>
      </div>
      <!-- END FOOTER -->
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
